<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite thread-count="1" verbose="1" name="FlowableTest">
	<test name="FlowableTest" enabled="true" preserve-order="true">
		<groups>
			<run>
				<include name="flowableTasks" />
				<include name="flowableGroupTasks" />
				<include name="flowableUsers" />
				<include name="ownerTasks" />
				<include name="tenancy" />
				<include name="tenancyAsVariable" />
			</run>
		</groups>
		<classes>
			<class name="com.biit.flowable.tests.SimpleProcessTest" />
			<class name="com.biit.flowable.tests.FlowableUsersTest" />
			<class name="com.biit.flowable.tests.GroupProcessTest" />
			<class name="com.biit.flowable.tests.OwnerTaskTest" />
			<class name="com.biit.flowable.tests.TenancyTest" />
			<class name="com.biit.flowable.tests.TenancyAsVariableTest" />
		</classes>
	</test>
</suite>