<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite thread-count="1" verbose="1" name="ActivitiTest">
	<test name="ActivitiTest" enabled="true" preserve-order="true">
		<groups>
			<run>
				<include name="activitiTasks" />
				<include name="activitiGroupTasks" />
				<include name="activitiUsers" />
				<include name="ownerTasks" />
				<include name="tenancy" />
				<include name="tenancyAsVariable" />
			</run>
		</groups>
		<classes>
			<class name="com.biit.activiti.tests.SimpleProcessTest" />
			<class name="com.biit.activiti.tests.ActivitiUsersTest" />
			<class name="com.biit.activiti.tests.GroupProcessTest" />
			<class name="com.biit.activiti.tests.OwnerTaskTest" />
			<class name="com.biit.activiti.tests.TenancyTest" />
			<class name="com.biit.activiti.tests.TenancyAsVariableTest" />
		</classes>
	</test>
</suite>